<!DOCTYPE html>
<html ng-app="weather">
    <head>
        <title>BootCamp II</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="../bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css"/>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
        <link href="style.css" rel="stylesheet" type="text/css"/>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script type="text/javascript" src="ngStorage.min.js"></script>
        <script type="text/javascript" src="app.js"></script>
        <script src="index.js" type="text/javascript"></script>

    </head>
    <body ng-controller="myWeather">
        <h2 class="text-center text-primary">My Wheather</h2>
        <!-- create container that saves the inputs-->
        <div class="text-center">
            <input ng-model="cities" class="input-sm" placeholder="City">
            <input ng-model="provinces" class="input-sm" placeholder="Province">
            <button ng-click="searchCity()" class="btn-info" >Search!</button><br>
        </div>

        <div class= "content">
            <!--show all weathers-->
            <div class="repeat" ng-repeat= "weather in data">
                <div class="supr" ng-mouseenter="delete.isShowed = true" ng-mouseleave="delete.isShowed = false">
                    <div class="delete" ng-click="remove(clean)" ng-show="delete.isShowed">
                        <img src="images/delete.png"></div>
                    <div class="results">{{weather.city}}, {{weather.country}}<br>
                        {{weather.date}}<br>{{weather.text}}</div>
                    <div class="temp">{{weather.temp}}</div>
                    <div class="unit">°{{weather.tempUnit}}</div>
                    <div class="image">
                        <img src="http://l.yimg.com/a/i/us/we/52/{{weather.code}}.gif"></div>
                    <div class="dates">
                        <ol>
                            <div>Wind: {{weather.wind}} {{weather.windUnit}}</div>
                            <div>Humidity: {{weather.humidity}}%</div>
                            <div>Pressure: {{weather.pressure}} {{weather.presUnit}}</div>
                        </ol>
                    </div>
                </div>
            </div>        	  
        </div>
    </body>
</html>