ol{
    margin-top: 10px;
    margin-bottom: 0px;
    font-family: cursive;
    font-weight: bolder;
}
.content{
    width: 950px;
    height: 1000px;
}
.active{
    display: inline;
}
.delete{
    float: right;
}
.repeat{
    display: inline;
    width: 460px;
    height: 300px;
    float: left;
}
.supr{
    display: block;
    position: relative;
    width: 400px;
    height: 235px;
    padding: 20px 20px 24px;
    background-image: url("images/background.jpg");
    border-width: 2px;
    margin: 20px;
}
.temp{
    padding-left: 10px;
    height: 57px;
    font-size: 65px;
    color: #000;
    float: left;
}
.unit{
    display: inline;
    margin-top: 6px;
    font-size: 22px;
    color: #000;
    float: left;
}
.image{
    display: inline;
    margin-top: 10px;
    float: left;
}
.dates{
    width: 200px;
    height: 80px;
    float: right;
    min-width: 50%;
    padding-left: 7px;
    line-height: 20px;
    padding-top: 2px;
}
.results{
    text-align: center;
    font-size: 20px;
    font-family: cursive;
    font-weight: bolder;
}